*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.bib.bak
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.sav.tmp
*.synctex.gz
*.synctex(busy)
*.toc
build/